<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450644845524-j1k95vvqm3a6uvnk6jkvg2b0sbniocds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450644845524-j1k95vvqm3a6uvnk6jkvg2b0sbniocds</string>
	<key>API_KEY</key>
	<string>AIzaSyA2C06A3Kq1kt7VTmC2viybTXQHeo_SqCA</string>
	<key>GCM_SENDER_ID</key>
	<string>450644845524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>javiergonzalez.PetFeeder</string>
	<key>PROJECT_ID</key>
	<string>engr696-pet-feeder</string>
	<key>STORAGE_BUCKET</key>
	<string>engr696-pet-feeder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450644845524:ios:a7dc651d00e9e0b765ec41</string>
</dict>
</plist>